### Deployed by Juju - dont edit manually.
### Empty for now

#CLUSTER_ID="{{cluster_id}}"

#CLUSTER_PEERNAME="{{peername}}"

#CLUSTER_SECRET="{{secret}}"

#CLUSTER_IPFSHTTP_NODEMULTIADDRESS="/dns4/ipfs/tcp/5001"

#CLUSTER_CRDT_TRUSTEDPEERS='*'

# Expose API
#CLUSTER_RESTAPI_HTTPLISTENMULTIADDRESS="/ip4/0.0.0.0/tcp/9094"

#CLUSTER_RESTAPI_BASICAUTHCREDENTIALS="{{api_credentials}}"

# Expose proxy
#CLUSTER_IPFSPROXY_LISTENMULTIADDRESS="/ip4/0.0.0.0/tcp/9095"

# ipfs address      
#CLUSTER_IPFSPROXY_NODEMULTIADDRESS="/dns4/ipfs/tcp/5001"
